.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-wrapper {
  position: relative;
}

.search-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.search-asin {
  width: 400px;
}

.App-main {
  margin-top: 50px;
}

.display-asin-container {
  display: flex;
  justify-content: center;
}

.display-asin-paper {
  width: 600px;
  padding: 20px;
}

.display-asin-header {
  margin-bottom: 50px;
}

.error-text {
  color: #a94442;
}
